Repository hbc/knowledgebase, pull requests merged in 2018-08, with the labels that each got.

#34 Lpantano patch headers
  .DS_Store
  .gitignore
  admin/general_resources/Count-normalization-methods.md
  research/.DS_Store
  research/rnaseq/.DS_Store
  research/rnaseq/IRFinder_report.md
  research/rnaseq/dexseq.Rmd
  research/rnaseq/running_IRFinder.md
  research/scrnaseq/Single-Cell.md
Labels: docs, rnaseq

#38 adding document detailing goals and questions for an initial consult
  admin/guides/initial_consults.md
Labels: admin, docs, guides

#46 adding headers to the FAQ category
  faq/FAQ_contributions.md
  faq/contributing_to_knowledegebase.md
Labels: docs, faq

#45 organize tips and tricks
  computing/tips_tricks/R-tips-and-tricks.md
  computing/tips_tricks/Remove-all-files-except-a-few.md
  computing/tips_tricks/Turn-filenames-to-lowercase-and-no-whitespaces.md
  computing/tips_tricks/connection-to-hpc.md
  computing/tips_tricks/file-transfer.md
  computing/tips_tricks/manage-files.md
  computing/tips_tricks/scheduler.md
Labels: computing, docs, tips and tricks

#50 Rsk patch contrib2
  faq/contributing_to_knowledegebase.md
Labels: 3 - Review, docs
